.entire-page {
background-image: linear-gradient(90deg, #4b4c4e, #547181, #96979e);
padding-left: 10%;
padding-right: 10%;
text-align: center;
}

h1 {
color: white;
}

h2 {
  color: white;
}

h3 {
 color:#d8b98d;
 font-size: 22px;
}

p {
  color: white;
  font-size: 18px;
}

.center-fold {
padding-left: 5%;
padding-right: 5%;
}

.center-img {
padding-bottom: 10px;
}

.detail-link {
color: white;
text-decoration: none;
}

.detail-link:hover {
color: #d8b98d;
}

.card {
       position: relative;
       display: inline-block;
       margin-bottom: 10px;
   }
   .card .img-top {
       display: none;
       position: absolute;
       top: 0;
       left: 0;
       z-index: 99;
   }
   .card:hover .img-top {
       display: inline;
   }

.custom-list {
  padding-left: 40px;
text-align: left;
}

.navbar-dark .navbar-nav .nav-link {
color: white;
font-size: 24px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #d8b98d;
}

.navbar {
width: 100%;
}


.vocab-table {
  display: flex;
  align-self: center;
justify-content: center;
}
